[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/alexander/SkyProGram
ExecStart=/home/alexander/SkyProGram/venv/python app.py

[Install]
WantedBy=multi-user.target
