[Unit]
Description=Flask app service
After=network.target

[Service]
WorkingDirectory=/home/alexander/app
ExecStart=/home/alexander/app/venv/python app.py

[Install]
WantedBy=multi-user.target